/* Add CSS Styling */

.pinky{
    background-color: #ad5765;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
.twentyfourFont{
    font-size: 24px;
}
#greeny{
    background-color: hsl(120, 54%, 31%);
    font-weight: bold;
}
#second{
    font-size: 36px;
    color: rgb(54, 72, 236)
    
}