/* Add CSS Styling */
.black{
    background-color: #000;
    color: #fff;
}
.yellow{
    background-color: hsl(64, 95%, 40%);
}
.custom-text{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}